*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
html{
    overflow-y: scroll;
  scroll-behavior: smooth;
  }
p{
    font-size: 15px;
}
#header{
    background: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

#header img{
    position: relative;
    bottom: 165px;
}

#header a:hover{
    position: relative;
    top: -4px;
}

.header-text{
    padding-bottom: 500px;
}

.header-text{
    padding-bottom: 500px;
    text-align: center;
}

.header-text img{
    top: 130px;
    position: relative;
    left: 20px;
}

.header-text h1{
    font-size: 50px;
    position: relative;
    top: 165px;
}

.header-text h2{
    position: relative;
    top: 180px;
    font-size: 15px;
}
#about {
    background-color: #EFF0E0;
    text-align: center;
}

#about h1{
    padding: 40px;
}

#about p{
  
    padding: 0 300px 50px;
}

#services{
    background: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

#services h1{
    padding: 40px;
}

#services p{
    padding: 0 300px 50px;
}

#do {
    background-color: #EFF0E0;
}

#do h1{
    text-align: center;
    padding: 10px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-item{
    text-align: center;
    padding: 30px;
    font-size: 12px;
    flex-basis: 30%;
}

.flex-item img{
    width: 50px;
    height: 50px;
   
}

.flex-item h3{
    padding: 20px;
}

#portfolio{
    background-color: #EFF0E0;
}

#portfolio h1{
    text-align: center;
}

.grid-work{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin: 50px 100px;
}
.grid-item{
    text-align: center;
    width: 100%;
}

#contact{
    background: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    max-width: 100%;
}
#contact h1{
    padding: 20px;
}
form{
    padding: 10px 50px;
    max-width: 100%;
}
form input{
    margin: 10px 70px;
    padding-left: 10px;
    width: 340px;
    height: 45px;
    font-size: 13px;
    border: 2px solid white;
    background: content-box;
}
form textarea{
    margin: 10px 70px;
    margin-bottom: 72px;
    padding-left: 10px;
    font-size: 13px;
    border: 2px solid white;
    background: content-box;
    width: 841px;
    height: 180px;
    resize: none;
    color: white;
    font-size: 13px;
    max-width: 100%;
}
form input:focus{
    border: 1px solid #EFF0E0;
}
::placeholder{
    color: white;
    text-align: left;
}
.flex-social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-social img{
    margin: 10px 12px;
    max-width: 100%;
}
footer{
    background-color: #EFF0E0;
    padding: 30px;
    text-align: center;
}
.copyright{
    position: relative;
    top: 30px;
    padding-bottom:20px ;
}

@media (max-width:1100px){
    #about p{
        padding:0 50px 50px;
    }
    #services p{
        padding:0 50px 50px;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    form input, form textarea{
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }
    .grid-work{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 150px);
        padding: 20px;
        margin: 0;
}}